.product-editor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.product-title {
  font-weight: bold;
  font-size: 54px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  color: #635c73;
  margin-top: 66px;
  @include montserrat700;

  @media (max-width: $withPhone) {
    font-size: 26px;
    line-height: 28px;
    margin-top: 79px;
  }
}

.product-subtitle {
  font-size: 21px;
  line-height: 32px;
  margin: 0 auto;
  text-align: center;
  color: #323232;
  margin-top: 35px;

  @media (max-width: $withPhone) {
    font-size: 14px;
    line-height: 20px;
    margin-top: 27px;
  }
}

.git-stuff {
  display: flex;
  width: 365px;
  column-gap: 7px;
  justify-content: center;
  margin-top: 13px;

  @media (max-width: $withTablet) {
    margin-top: 24px;
  }
  @media (max-width: $withPhone) {
    display: flex;
    width: 251px;
    flex-wrap: wrap;
    margin-top: 36px;
  }
}

.widget__btn:not(:last-child) {
  border-radius: 0.25em 0 0 0.25em;
}

.widget__btn {
  background-color: #eff3f6;
  border: 1px solid;
}
.widget__count {
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.widget__btn,
.widget__count {
  display: inline-flex;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: bold;
  line-height: 14px;
  vertical-align: bottom;
  cursor: pointer;
  border-radius: 0px 0.25em 0.25em 0px;
  border-color: rgba(27, 31, 35, 0.15);
  text-decoration: none;
  color: #24292e;
  margin-bottom: 70px;

  @media (max-width: $withPhone) {
    margin-bottom: 20px;
  }
}
.product-section {
  background-color: #f4f4f4;
  padding-bottom: 72px;
  margin: 0 auto;
  @media (max-width: $withTablet) {
    background-color: #fff;
  }
}
.product-info {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 0 30px;
  @media (min-width: 1230px) {
    justify-content: center;
  }
  @media (max-width: $withTablet) {
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
  }
}

.product-info__list {
  @media (max-width: $withTablet) {
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (max-width: $withPhone) {
    padding-bottom: 30px;
  }
}

.product-info__item {
  display: grid;
  grid-template-columns: 130px minmax(300px, 400px);
  padding-bottom: 35px;
  // padding-right: 20px;

  @media (max-width: $withTablet) {
    grid-template-columns: 130px minmax(100px, 1fr);
  }
  @media (max-width: $withPhone) {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-right: 0;
  }

  &--prodben {
    @media (max-width: $withPhone) {
      padding-bottom: 23px;
    }
  }
}

.product-info__description {
  @include montserrat400;
  & .description__title {
    font-size: 16px;
    line-height: 21px;
    color: #323232;
    margin-bottom: 16px;

    @media (max-width: $withPhone) {
      font-size: 16px;
      line-height: 16px;
      text-align: center;
    }
  }

  & .description__title {
    @media (max-width: $withPhone) {
      padding-bottom: 14px;
    }
  }

  & .description__subtitle {
    font-size: 14px;
    line-height: 21px;
    color: #848e97;

    @media (max-width: $withPhone) {
      text-align: center;
    }
  }
}

.product-slogan {
  @media (max-width: $withTablet) {
    display: none;
  }
}

.slogan__title {
  font-style: normal;
  font-weight: bold;
  font-size: 47px;
  line-height: 50px;
  margin-left: 22px;
  color: #8d81ac;
  padding-bottom: 40px;
  text-align: center;
  @include montserrat700;

  &--smart {
    display: none;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 44px;
    font-weight: bold;
    @include montserrat700;
    color: #8d81ac;
    @media (max-width: $withTablet) {
      display: block;
      padding-bottom: 50px;
      padding-top: 80px;
      text-align: center;
    }

    @media (max-width: $withPhone) {
      font-size: 32px;
      line-height: 38px;
      padding-top: 100px;
      padding-bottom: 36px;
    }
  }
}

.slogan__img {
  background-image: url(../img/HelloFork.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
  width: 100%;

  &--tablet {
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    height: 520px;
    width: 100%;
    max-width: 700px;
    @media (max-width: $withTablet) {
      display: block;
      background-image: url(../img/HelloFork_tablet.png);
      margin-left: 68px;
    }
    @media (max-width: $withPhone) {
      background-image: url(../img/HelloFork_phone.png);
      max-width: 317px;
      margin: 0;
      background-size: contain;
    }
  }
}
