@import "templates";
//body{
//  background-image: url(../img/Logo1.png);
//}
.header{
  background-image: url(../img/bgiSection1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
@media (max-width: $withTablet) {
  .break{
    flex-basis: 100%;
    height: 0px;
  }
  .head__menu{
    order: 6;
    margin: 20px auto;
  }
  .header__head{
    flex-wrap: wrap;
    background-color:#27262A ;

  }
}
.header{
  margin-top: 30px;
  @media (max-width:$withTablet) {
    background-color: rgba(39, 38, 42, 0.5);
  }
}
.header__head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  //flex-wrap: wrap;
    & .logo{
      display: block;
      &:hover{
        content: url("../img/logoHeaderHover.png");
      }
    }
}
.head__logo{
  order: 1;
  flex: 2;
  align-content: center;
  margin-left: 20px;
  @media (max-width: $withPCmid) {
    margin-left: 10px;
  }
}


.head__menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  order: 2;
  margin-left: 0px;
    & .menu_navigation{
      display: flex;
      justify-content: space-between;
      align-items: center;
      order: 1;
        & .navigation-item{
          margin: 0 25px 0 0px;
          @include montserrat700;
          color: #8D81AC;
          &:hover{
          color: #ffffff;
        }
        }
    }
}

.logo-main{
  @include lato700;
  text-transform: uppercase;
  color: #8D81AC;
    &:hover{
    color: #ffffff;
  }
}
.head__button{
  border-radius: 40px;
  color: #fff;
  background-color: #8D81AC;
  padding: 10px 20px;
  border: none;
  order: 2;
  @include montserrat700;
    &:hover{
      background-color: #fff;
      color: #8D81AC;
    }
}
.break{
  order: 4;
}
