.header{
  margin-top: 30px;
  @media (max-width:768px) {
    background-color: rgba(39, 38, 42, 0.5);
  }
}
.header__head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head__menu{
  display: flex;
  justify-content: space-between;
    & .menu_navigation{
      display: flex;
      justify-content: space-between;
      align-items: center;
        & .navigation-item{
          margin: 0 25px 0 0px;
          @include montserrat700;
          color: #8D81AC;
          &:hover{
          color: #ffffff;
        }
        }
    }
}
.logo-main{
  @include lato700;
  text-transform: uppercase;
  color: #8D81AC;
    &:hover{
    color: #ffffff;
  }
}
.menu-button{
  border-radius: 40px;
  color: #fff;
  background-color: #8D81AC;
  padding: 10px 20px;
  border: none;
  @include montserrat700;
    &:hover{
      background-color: #fff;
      color: #8D81AC;
    }
}

