.peopleTalking {
  background-image: url(../img/bgi3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  //height: 800px;
}
.container{
  height: 100%;
}
.peopleTalking__title{
  padding-top: 110px;
  text-align: center;
  @include montserrat700;
  font-size: 48px;
  color: white;
  @media (max-width: $withTablet) {
    color: red;
  }
}

.peopleTalking__partners{
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 90px;
  grid-row-gap: 115px;

    & .peopleTalking__partners_company{
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      max-width: 345px;
      //margin-bottom: 116px;
        & img {
          margin-bottom: 30px;
        }
        & p{
          text-align: center;
          line-height: 24px;
          @include lato700;
          font-size: 16px;
          color: #ffffff;
        }
    }
}
.peopleTalking__footer{
  margin: 120px auto 20px auto;
}